<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-16" />
    <title>
        OGD recommendation results survey
    </title>
    <style>
        p {
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <h1>Please rate the relevance of related datasets to main dataset and send your results with the "Submit" button at end</h1>
    <div style="display: flex; justify-content: space-around; align-items: center;">
        <div title="Main dataset" style="margin: 2%; min-width: 20%; max-width:20%">
            <h2>Main dataset</h2>
        </div>
        <div style="display: flex; overflow:auto; width: 60%;">
            <h2>Related datasets</h2>
        </div>
        <div title="Voting" style="margin: 2%; min-width: 10%;">
            <h2>Your vote</h2>
        </div>
    </div>
    {% for item in survey %}
    <div style="display: flex; justify-content: space-around; align-items: center;">
        <div title="Main dataset" style="margin: 2%; min-width: 20%; max-width:20%">
            <p><b>Title</b>: {{item[0]["title.en"]}}</p>
            <p><b>Description:</b> {{item[0]["description.en"]}}</p>
            <p><b>Category:</b> {{item[0]["category"]}}</p>
        </div>
        <div style="display: flex; overflow:auto; width: 60%;">
            {% for dataset in item[1] %}
            <div title="dataset" style="margin: 1%; min-width: 20em;">
                <p><b>Title:</b> {{dataset["title.en"]}}</p>
                <p><b>Description:</b> {{dataset["description.en"]}}</p>
                <p><b>Category:</b> {{dataset["category"]}}</p>
            </div>
            {% endfor %}
        </div>
        <div title="Voting" style="margin: 2%; min-width: 10%;">
            <select name="Vote" id="vote">
                {% for i in range(1, 11) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endfor %}
    <div title="Send email">
        <label for="name">Your name</label> <input type="text">
        <button id="submit">Submit</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>