<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-16" />
    <title>
        OGD recommendation results survey
    </title>
    <style>
        p {
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <h1>A recommender system for improved data findability in open government data portals</h1>
    <p>The research suggests that it is difficult for users of open government data (OGD) portals to find the datasets they are interested in. The objective of our research is to contribute to the solution of this problem by developing a recommendation system for datasets. This recommendation system will output possibly relevant datasets based on the chosen dataset. 
    This survey is meant to evaluate the effectiveness of this recommendation method approach. <b>Recommended datasets</b> column contains metadata about the datasets that are recommended to user based upon the dataset under <b>Main dataset</b> column. We ask you to rate the quality of recommendation under the <b>Voting</b> column and send results to us with <b>submit</b> button which will redirect you to email results to us. <b>Thank you!</b></p>
    <div style="display: flex; justify-content: space-around; align-items: center;">
        <div title="Main dataset" style="margin: 2%; min-width: 20%; max-width:20%">
            <h2>Main dataset</h2>
        </div>
        <div style="display: flex; overflow:auto; width: 60%;">
            <h2>Related datasets</h2>
        </div>
        <div title="Voting" style="margin: 2%; min-width: 10%;">
            <h2>Your vote</h2>
        </div>
    </div>
    {% for item in survey %}
    <div style="display: flex; justify-content: space-around; align-items:start;">
        <div title="Main dataset" style="margin: 2%; min-width: 20%; max-width:20%">
            <p><b>Title</b>: {{item[0]["title.en"]}}</p>
            <p><b>Description:</b> {{item[0]["description.en"]}}</p>
            <p><b>Category:</b> {{item[0]["category"]}}</p>
        </div>
        <div style="display: flex; overflow:auto; width: 60%;">
            {% for dataset in item[1] %}
            <div title="dataset" style="margin: 1%; min-width: 20em;">
                <p><b>Title:</b> {{dataset["title.en"]}}</p>
                <p><b>Description:</b> {{dataset["description.en"]}}</p>
                <p><b>Category:</b> {{dataset["category"]}}</p>
            </div>
            {% endfor %}
        </div>
        <div title="Voting" style="margin: 2%; min-width: 10%;">
            <select name="Vote">
                {% for i in range(1, 11) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endfor %}
    <div style="display: flex; justify-content:center">
        <label>Your comments and suggestions (optional) </label>
        <textarea id="suggestions"></textarea>
    </div>
    <div style="display: flex; justify-content:center" title="Send email">
        <p><b>Note: </b> By submitting this survey, to consent to the usage of these results in the research.</p>
        <button id="submit">Submit</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>