<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-16" />
    <title>
        OGD recommendation results survey
    </title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        :root {
            --select-border: #128f8b;
            --select-focus: blue;
            --select-arrow: var(--select-border);
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;
            padding: 0 1em 0 0;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            z-index: 1;
            outline: none;
        }

        select::-ms-expand {
            display: none;
        }

        .select {
            display: grid;
            grid-template-areas: "select";
            align-items: center;
            position: relative;
            min-width: 15ch;
            max-width: 30ch;
            border: 1px solid var(--select-border);
            border-radius: 0.25em;
            padding: 0.25em 0.5em;
            font-size: 1.25rem;
            cursor: pointer;
            line-height: 1.1;
            background-color: #fff;
            background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
        }

        .select select,
        .select::after {
            grid-area: select;
        }

        .select::after {
            content: "";
            width: 0.8em;
            height: 0.5em;
            background-color: var(--select-arrow);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            justify-self: end;
        }

        p {
            word-wrap: break-word;
        }

        body {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            background-color: #F5FBFF;
        }

        #bordered {
            border-color: #128f8b;
            border-width: 5em;
            border: solid;
        }

        textarea {
            font-size: 0.8rem;
            letter-spacing: 1px;
        }

        textarea {
            padding: 10px;
            max-width: 100%;
            line-height: 1.5;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-shadow: 1px 1px 1px #999;
        }

        @media screen and (-ms-high-contrast: active) {
            button.button {
                border: 2px solid currentcolor;
            }
        }

        button.button {
            border: none;
            background-color: transparent;
            font-family: inherit;
            padding: 0;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            align-self: start;
            background-color: #128f8b;
            color: #fff;
            border-radius: 8px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
            padding: 0.25em 0.75em;
            min-width: 10ch;
            min-height: 44px;
            text-align: center;
            line-height: 1.1;
            transition: 220ms all ease-in-out;
        }

        button.button:hover,
        button.button:active {
            background-color: #127c79;
        }

        button.button:focus {
            outline-style: solid;
            outline-color: transparent;
            box-shadow: 0 0 0 4px #0f706d;
        }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body style="font">
    <h1 style="padding-top: 1em; padding-left: 1em; padding-bottom: 1em">Survey about recommender system for improved
        data findability in open government data portals</h1>
    <div style="display: flex; justify-content:start; padding-left: 2em; padding-right:3em">
        <p>
            Dear Participant, <br />
            Finding relevant datasets in open government data (OGD) portals can be challenging due to the vast amount of
            available data. The objective of my research is to address this issue by developing a
            recommendation system that suggests relevant datasets based on a selected dataset. This survey aims to
            evaluate the effectiveness of my proposed recommendation method. In the survey, the
            <b>"Main Dataset"</b> column displays the selected dataset, while the <b>"Recommended Datasets"</b> column
            provides metadata about datasets suggested by our system.<br />
            I kindly ask you to rate the quality of these recommendations under the <b>"Rating"</b> column.
            <i><b>(Please
                    note that you need to rate at least 10 recommendations to submit)</b></i><br />
            After completing the survey, please use the submit button, which will redirect you to email your responses
            to me.<br />
            Thank you very much for your participation!
        </p>
    </div>
    <div style="display: flex; justify-content:end; padding-left: 2em; padding-right:3em; padding-bottom: 3em">
        <p>
            Ramil Huseynov <br />
            Master's Student in Software Engineering</p>
    </div>

    <div style="display: flex; justify-content: space-around; align-items: center; border-top: solid #128f8b">
        <div title="Main dataset" style="padding: 2%; min-width: 20%; max-width:20%">
            <h2>Main dataset</h2>
        </div>
        <div
            style="padding: 2%; display: flex; overflow:auto; width: 60%; border-left: solid #128f8b; border-right: solid #128f8b">
            <h2>Recommended datasets</h2>
        </div>
        <div title="Rating" style="padding: 2%; min-width: 10%;">
            <h2>Rating</h2>
        </div>
    </div>
    {% for item in survey %}
    <div style="display: flex; justify-content: space-around; align-items:start; border-top: solid #128f8b">
        <div title="Main dataset" style="padding: 2%; min-width: 20%; max-width:20%">
            <p><b>Title</b>: {{item[0]["title.en"]}}</p>
            <p><b>Description:</b> {{item[0]["description.en"]}}</p>
            <p><b>Category:</b> {{item[0]["category"]}}</p>
        </div>
        <div
            style="padding: 2%; display: flex; overflow:auto; width: 60%; border-left: solid #128f8b; border-right: solid #128f8b">
            {% for dataset in item[1] %}
            <div title="dataset" style="padding: 1%; min-width: 20em;">
                <p><b>Title:</b> {{dataset["title.en"]}}</p>
                <p><b>Description:</b> {{dataset["description.en"]}}</p>
                <p><b>Category:</b> {{dataset["category"]}}</p>
            </div>
            {% endfor %}
        </div>
        <div title="Voting" style="padding-top: 2%; min-width: 10%;">
            <div class="select">
                <select name="Vote">
                    <option value="0">Rate</option>
                    <option value="1">Very irrelevant</option>
                    <option value="2">Irrelevant</option>
                    <option value="3">Neutral</option>
                    <option value="4">Relevant</option>
                    <option value="5">Very relevant</option>
                </select>
            </div>
        </div>
    </div>
    {% endfor %}
    <div style="display: flex; justify-content:center; padding: 2%">
        <label style="margin-right: 2em">Your comments and suggestions (optional): </label>
        <textarea id="suggestions"></textarea>
    </div>
    <div style="display: flex; justify-content:center" title="Send email">
        <p><b>Note: </b> By submitting this survey, you consent to the usage of these results in the research.</p>
    </div>
    <div style="display: flex; justify-content:center" title="Send email">
        <button class="button" id="submit">Submit</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>